@import "vars";
@import "mixins";
// @붙이면 가져올수 있다. (import할때는 제목의 언더바를 붙이지 않는다)

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, 0, transparent 50px);
  background-color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

//이미지는 글자처럼 처리된다.
img {
  vertical-align: top;
  //이걸쓰면 이미지 위로 붙여 준다. 안쓰면 이미가 살짝 벌어짐
}

button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
}

#header {
  height: 60px;
  background-color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  strong {
    font-weight: 900;
  }
  @include longShadow(50, #ccc);
}
