<!-- <?
  $subTitle = "λ€ν•™μ†κ°";
  $contentsTitle = "μ—°ν λ° μ—­λ€ν•™μ¥";
  $class = "history";
  $subIdx=1;
?> -->
<%- include("../include/sub-header") %>
<!-- μ—¬κΈ°κ°€ λ‚΄μ© λ°”λ€λ” λ¶€λ¶„.... -->

<div class="container">
  <div class="scroll-menu">
    <ul>
      <li class="on" data-target="history-list">μ—°ν</li>
      <li data-target="chairman-list">μ—­λ€ ν•™μ¥</li>
      <li data-target="chairman-list02">μ—°λ€ λ¶€ν•™μ¥</li>
    </ul>
  </div>
  <div class="contents-visual">
    <div class="left-contents">
      <img src="../images/sub-contents/history_ban_img.jpg" alt="" />
      <div class="txt">
        μ—°μ„Έλ€ν•™κµ <br />
        <h4><strong>μ΄κ³Όλ€ν•™ μ—°ν</strong></h4>
      </div>
    </div>
    <div class="right-contents">
      <div class="txt-box">
        <p class="txt">
          SINCE 1915
          <strong>1915 ~ ν„μ¬</strong>
        </p>
        <p class="title">
          YONSEI UNIVERSITY <br />
          COLLEGE OF SCIENCE
        </p>
      </div>
    </div>
  </div>
  <div class="history-list">
    <ul>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
        <img src="../images/sub-contents/history_img1.jpg" alt="" />
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
        <img src="../images/sub-contents/history_img2.jpg" alt="" />
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="year-box">
          <span class="year">1915</span>
          <div class="contents">
            <p>μ—°ν¬ μ „λ¬Έν•™κµ μ„¤λ¦½ (μλ¬Όκ³Ό μ°½μ„¤)</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chairman-list">
    <h4>μ—­λ€<strong>ν•™μ¥</strong></h4>
    <div class="list">
      <ul>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
        <li>
          <p class="name">μ΄μ¶νΈ</p>
          μ—°ν¬μ „λ¬Έν•™κµ 2λ€ ν•™κ°
          <p class="period">1959. 1 ~ 1960. 12</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="chairman-list02">
    <h4>μ—­λ€<strong>λ¶€ν•™μ¥</strong></h4>
    <div class="list">
      <ul>
        <li>
          <span class="name">κΉ€μ¥ν™</span>
          <span class="position">μ΄κ³Όλ€ν•™ κµν•™κ³Όμ¥</span>
          <span class="period">1980.12.01 ~ 1983.02.28</span>
        </li>
        <li>
          <span class="name">κΉ€μ¥ν™</span>
          <span class="position">μ΄κ³Όλ€ν•™ κµν•™κ³Όμ¥</span>
          <span class="period">1980.12.01 ~ 1983.02.28</span>
        </li>
        <li>
          <span class="name">κΉ€μ¥ν™</span>
          <span class="position">μ΄κ³Όλ€ν•™ κµν•™κ³Όμ¥</span>
          <span class="period">1980.12.01 ~ 1983.02.28</span>
        </li>
        <li>
          <span class="name">κΉ€μ¥ν™</span>
          <span class="position">μ΄κ³Όλ€ν•™ κµν•™κ³Όμ¥</span>
          <span class="period">1980.12.01 ~ 1983.02.28</span>
        </li>
        <li>
          <span class="name">κΉ€μ¥ν™</span>
          <span class="position">μ΄κ³Όλ€ν•™ κµν•™κ³Όμ¥</span>
          <span class="period">1980.12.01 ~ 1983.02.28</span>
        </li>
        <li>
          <span class="name">κΉ€μ¥ν™</span>
          <span class="position">μ΄κ³Όλ€ν•™ κµν•™κ³Όμ¥</span>
          <span class="period">1980.12.01 ~ 1983.02.28</span>
        </li>
        <li>
          <span class="name">κΉ€μ¥ν™</span>
          <span class="position">μ΄κ³Όλ€ν•™ κµν•™κ³Όμ¥</span>
          <span class="period">1980.12.01 ~ 1983.02.28</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
  const scrollMenu = $(".scroll-menu li");
  scrollMenu.on("click", function () {
    $(this).addClass("on");
    const target = "." + $(this).data("target");
    const position = $(target).offset().top - 120;
    console.log("π€ ~ file: history.html ~ line 134 ~ position", position);
    const siblings = $(this).siblings();
    siblings.removeClass("on");
    gsap.to(window, { duration: 2, scrollTo: { y: target, offsetY: 120 }, ease: "power4" });
  });
</script>
<%- include("../include/sub-footer") %>

