<footer>
  <div id="family-site">
    <div class="container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <a href=""><img src="../images/layout/lgf-01.svg" alt="" /></a>
        </li>
        <li class="swiper-slide">
          <a href=""><img src="../images/layout/lgf-02.png" alt="" /></a>
        </li>
        <li class="swiper-slide">
          <a href=""><img src="../images/layout/lgf-03.svg" alt="" /></a>
        </li>
        <li class="swiper-slide">
          <a href=""><img src="../images/layout/lgf-04.png" alt="" /></a>
        </li>
        <li class="swiper-slide">
          <a href=""><img src="../images/layout/lgf-05.png" alt="" /></a>
        </li>
        <li class="swiper-slide">
          <a href=""><img src="../images/layout/lgf-06.png" alt="" /></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="info">
        <div class="util">
          <ul>
            <li>
              <a href="">1:1 문의</a>
            </li>
            <li>
              <a href="">자주하는 질문</a>
            </li>
            <li>
              <a href="">오시는 길</a>
            </li>
            <li>
              <a href="">개인정보처리방침</a>
            </li>
          </ul>
        </div>
        <div class="address">
          <ul>
            <li>서울특별시 마포구 마포대로 155 LG마포빌딩</li>
            <li>경기도 평택시 진위면 엘지로 222 (복지재단)</li>
            <li>서울특별시 영등포구 여의대로 128 (연암학원)</li>
          </ul>
        </div>
        <p class="copyright">Copyright © 2022 LG Foundation. All Rights Reserved.</p>
      </div>
      <div class="sns">
        <ul>
          <li>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
          </li>
        </ul>
        <a href="" class="nts"><img src="../images/layout/logo-nts.png" alt="" /></a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
