<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="../images/common/favicon.png" type="image/x-icon" />
    <title>LG재단</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />

    <!-- <link rel="stylesheet" href="../css/fonts.css" /> -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/swiper-bundle.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/sub-contents.css" />
    <script src="../js/jquery-3.6.1.min.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/08ebc00fc6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4aaea00d9b16ab844633eead85d9d655&libraries=services"></script>

    <script src="../js/common.js" defer></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>
          <a href="/"><img src="../images/layout/logo.svg" alt="lg 재단 로고" /></a>
        </h1>
        <nav id="gnb">
          <ul class="list">
            <li>
              <a href="/about/introduce" class="depth01">LG재단</a>
              <ul class="depth02">
                <li><a href="/about/introduce">재단 소개</a></li>
                <li><a href="/about/foundation">설립자</a></li>
                <li><a href="/about/history">재단 연혁</a></li>
                <li><a href="/about/location">오시는 길</a></li>
              </ul>
            </li>
            <li>
              <a href="/program/seoul" id="vip" class="depth01">연암문화재단</a>
              <ul class="depth02">
                <li><a href="/program/seoul">서울센터</a></li>
                <li><a href="">설립자</a></li>
                <li><a href="">재단 연혁</a></li>
              </ul>
            </li>
            <li>
              <a href="" class="depth01">복지재단</a>
            </li>
            <li>
              <a href="" class="depth01">상록재단</a>
            </li>
            <li>
              <a href="" class="depth01">연암학원</a>
            </li>
            <li>
              <a href="" class="depth01">소식/공지</a>
            </li>
          </ul>
        </nav>
        <ul class="util">
          <li>
            <a href=""><span class="material-icons-two-tone"> language </span></a>
          </li>
          <li>
            <a href=""><span class="material-icons"> search </span></a>
          </li>
          <li>
            <a href="" class="btn-all"><span class="material-icons"> menu </span></a>
          </li>
        </ul>
      </div>
    </header>
    <!-- header end -->