<ul class="sns-list">
  <li><a href=""><img src="../images/common/icon-social-website.svg" alt="" /></a></li>
  <li><a href=""><img src="../images/common/icon-social-instagram.svg" alt="" /></a></li>
  <li><img src="../images/common/icon-social-website.svg" alt="" /></li>
  <li><img src="../images/common/icon-social-website.svg" alt="" /></li>
  <li><img src="../images/common/icon-social-website.svg" alt="" /></li>
</ul>