@import "vars";
@import "mixins";

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
  background-color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
}
button {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
}

#header {
  height: 50px;
  background-color: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.contents {
  .user {
    display: flex;
    padding: 10px;
    background-color: #999;
    .btn-enter {
      padding: 0 20px;
      background-color: rgb(255, 196, 0);
      border-radius: 10px;
      color: #111;
      margin-left: 10px;
    }
    label {
      display: flex;
      flex-grow: 1;
      span {
        padding: 15px 20px;
        background-color: #111;
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }
      input {
        flex-grow: 1;
        border-radius: 10px;
        padding: 10px;
        border: none;
        outline: none;
      }
    }
  }
  .msg-box {
    background-color: #b2c7d9;
    height: 500px;
    overflow-y: auto; //이렇게 하면 자동으로 길어진다.

    .msg-list {
      .enter {
        background-color: #fff;
        display: flex;
        justify-content: center;
        opacity: 0.5;
      }
      li {
        display: flex;
        font-size: 14px;
        padding: 20px;
        .profile {
          background: #fff;
          border-radius: 100px;
          overflow: hidden;
          width: 48px;
          height: 48px;
          flex-shrink: 0; //안줄어든다!
          img {
            width: 100%;
            height: 100%;
          }
        }
        .msg-item {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          .msg {
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            margin: 5px 0;
            line-height: 1.5;
          }
          .time {
            font-size: 12px;
          }
        }
      }
      .me {
        flex-direction: row-reverse;
        .msg-item {
          margin-right: 10px;
          align-items: flex-end;
          .msg {
            margin-top: 5px;
          }
          .name {
            display: none;
          }
        }
      }
    }
  }
  .send-box {
    height: 200px;
    position: relative;
    textarea {
      width: 100%;
      height: 100%;
      padding: 20px 80px 20px 20px;
      box-sizing: border-box;
      border: none;
      outline: none;
      background-color: #fff;
      line-height: 1.5;
      font-family: inherit;
      font-size: 16px;
    }
    .btn {
      position: absolute;
      padding: 10px 15px;
      border-radius: 5px;
      background-color: #ddd;
      color: #999;
      right: 20px;
      top: 10px;
      pointer-events: none;
      &.on {
        pointer-events: auto;
        background-color: rgb(255, 196, 0);
        color: #111;
      }
    }
  }
}

