<ul class="depth02">
  <li><a href="/education/admission">입학안내</a></li>
  <li><a href="/education/schedule">학사일정 및 내규</a></li>
  <li><a href="/education/scholarship">장학금 정보</a></li>
  <li><a href="/education/award">학생수상안내</a></li>
</ul>