<ul class="depth02">
  <li><a href="/about/greeting">학장인사말</a></li>
  <li><a href="/about/history">연혁 및 역대 학장</a></li>
  <li><a href="/about/organization">조직 및 행정안내</a></li>
  <li><a href="/about/students">학생회 및 동아리</a></li>
  <li><a href="/about/location">오시는 길</a></li>
  <li><a href="/about/list">공지사항</a></li>
  <!-- if(grade===10){ -->
  <li><a href="/about/write">글쓰기</a></li>
  <!-- } -->
  <li><a href="/member/join">회원가입</a></li>
  <li><a href="/member/list">회원리스트</a></li>
</ul>

